.main-container {
  width: 100%;
  .title-wrapper {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #262626);
    padding: 5px;
    display: flex;
    .title {
      font-size: 46px;
      &.about-me {
        font-size: 20px;
      }
    }
    &.dark {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #380066);
    }
    @media (max-width: 900px) {
      flex-direction: row-reverse;
      align-items: center;
      color: white;
      height: 80px;
      text-align: right;
    }
  }
  .block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    margin: 50px 0;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
    @media (max-width: 900px) {
      flex-direction: column-reverse;
      &:nth-child(odd) {
        flex-direction: column-reverse;
      }
    }
    .img-wrapper {
      // min-width: 450px;
      // max-width: 40%;
      width: 50%;
      @media (max-width: 900px) {
        min-width: none;
        max-width: none;
        width: 100%;
        margin: 0 0 20px 0;
      }
      .link-row {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        @media (max-width: 900px) {
          display: block;
        }
        .row-img {
          max-width: 150px;
          border: 5px solid white;
          border-radius: 5px;
          &:hover {
            cursor: pointer;
            opacity: .5;
            box-shadow: 0 20px 20px 0 black;
          }
        }
      }
      .theorem-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        img {
          width: 15%;
          height:fit-content;
        }
      }
    }
    .word-wrapper {
      width: 50%;
      @media (max-width: 900px) {
        min-width: 0px;
        max-width: none;
        width: 100%
      }
      .word-content {
        padding: 0 25px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
      }
    }
  }
}

.project-img {
  // min-width: 450px;
  max-width: 90%;
  // max-width: 80%;
  // max-height: 200px;
  border: 5px solid white;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    opacity: .5;
    box-shadow: 0 20px 20px 0 black;
  }
}


