.block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* justify-items: center; */
  text-align: center;
  /* border: 2px solid black; */;
  height: 300px;
}

.block h3{
  font-size: 1.5em;
}

.imgWrapperA{
  margin-top: 5%;
  background-image: linear-gradient(to left, rgba(255,0,0,0), #262626);
}

.imgWrapperB{
  margin-top: 5%;
  background-image: linear-gradient(to right, rgba(255,0,0,0), #262626); 
}

.love{
  /* margin-top: 20%; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.mathImg{
  /* background-image: url('../img/SriYantra.png'); */
  width: 100%;
  height: 300px;
  opacity: 0.05;
}