.block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* justify-items: center; */
  text-align: center;
  /* border: 2px solid black; */;
  height: auto;
  margin-top: 5%;
}

.block h3{
  font-size: 2.5vh;
}

.diamondImg{
  /* background-image: url('../img/SriYantra.png'); */
  width: 100%;
  height: 300px;
  /* height: auto; */
  opacity: 0.05;
}

.editing{
  width: 100%;
  height: 300px;
  opacity: 0.3;
}

.imgWrapperA{
  background-image: linear-gradient(to left, rgba(255,0,0,0), #262626);
}

.imgWrapperB{
  background-image: linear-gradient(to right, rgba(255,0,0,0), #262626);
}



.mathImg{
  /* background-image: url('../img/SriYantra.png'); */
  /* width: 100%; */
  /* height: 100%; */
  /* height: auto; */
  width: 100%;
  height: auto;
  opacity: 0.05;
  float: right;
}

.meImg{
  /* background-image: url('../img/SriYantra.png'); */
  width: 100%;
  height: auto;
  opacity: 0.05;
  float: left;
}

.name{
  text-align: right;
  color: snow;
  font-size: 7vh;
  padding-right: 20px;
}

.nameWrapper{
  background-image: linear-gradient(to right, rgba(255,0,0,0), #262626);
  height: fit-content;
  padding: 5px;
  margin-top: 2%;
  margin-bottom: -2%;
}

.schoolsAttended{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  filter: saturate(.2);
  /* opacity: 1; */
  text-align: center;
  align-items: center;
}

.schoolAttended{
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.schoolsTaught{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  filter: saturate(.2);
  /* opacity: 1; */
  text-align: center;
  align-items: center;
}

.schoolTaught{
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.sk8{
  width: 100%;
  /* height: 20px; */
  filter: saturate(.2);
  opacity: 0.3;
}

.sk8Wrapper{
  background-image: linear-gradient(to left, rgba(255,0,0,0), #262626);
  width: 100%;
}

.theorem{
  color: #262626;
  font-family: "Source Sans Pro",Sans-serif;
  font-size: 56px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: -1.6px;
  opacity: 0.7;
}

.theorem:hover {
  text-decoration: none;
  color: rgb(151, 145, 167);
}

.theoremCompanies{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  filter: saturate(.2);
  opacity: 0.7;
  text-align: center;
  align-items: center;
}

.theoremCompanies img{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  /* position: relative; */
  /* text-align: center; */
  /* align-items: center; */
  
}

.theoremWrapper{
  padding: 20px;
  padding-top: 20px;

}

.wordContent{
  /* margin-top: 20%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}