.drag-button {

}

.drag-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.drag-container {
  background-color: #005C69;
  height: calc(100vh - 50px);
  width: 100vw;
  overflow-x: hidden;
  @media (max-width: 900px) {
    padding-top: 80px;
  }
  /* height: 92vh;
  overflow-y: hidden;
  position: relative; */
}