.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  /* width: 100%; */
  background-image: linear-gradient(to right, rgba(255,0,0,0), #262626);
  color: white;
  text-align: right;
  padding: 10px;
  padding-top: 15px;
  padding-right: 20px;
  margin-top: 5%;
  font-size: 12px;
  width: 100%;
  overflow-x: hidden;
}
.footer-dark{
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #380066);
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
  padding: 10px;
  padding-top: 15px;
  padding-right: 20px;
  margin-top: 5%;
  font-size: 2vh;
}

.footer p{
  line-height: .25;
}

.footerLink{
  color: white;
}

.footerLink:hover {
  text-decoration: none;
  color: rgb(151, 145, 167);
}