.projects-container {
  width: 100vw;
  .titleWrapper {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #262626);
    height: fit-content;
    padding: 5px;
  }
  .titleWrapper-dark {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #380066);
    height: fit-content;
    padding: 5px;
  }
  .block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 50px 0;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
    @media (max-width: 850px) {
      flex-direction: column-reverse;
      &:nth-child(odd) {
        flex-direction: column-reverse;
      }
    }
    .imgWrapper {
      min-width: 450px;
      max-width: 40%;
      @media (max-width: 850px) {
        min-width: none;
        max-width: none;
        width: 100%;
        margin: 0 0 20px 0;
      }
      .theorem-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        img {
          width: 15%;
          height:fit-content;
        }
      }
    }
    .wordWrapper {
      min-width: 450px;
      max-width: 40%;
      @media (max-width: 850px) {
        min-width: 0px;
        max-width: none;
        width: 100%
      }
      .wordContent {
        padding: 0 25px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

// .blazer-img {
//   height: 80%;
// }

.project-img {
  width: 80%;
  border: 5px solid white;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    opacity: .5;
    box-shadow: 0 20px 20px 0 black;
  }
}




// .classfull-img {
//   padding: 30px;
//   width: 100%;
// }

// .ganeshaImg {
//   width: 100%;
// }

// .galaxyWrapper {
//   margin-left: 10%;
//   width: 80%;
//   height: 30vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   opacity: 0.7;
// }

// .galaxyWrapper:hover {
//   opacity: 1;
// }

// .ganeshaWrapper {
//   margin-left: 10%;
//   background-color: #419e5a;
//   width: 80%;
//   height: 30vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   opacity: 0.7;
// }

// .ganeshaWrapper:hover {
//   opacity: 1;
// }

// .imgWrapperA {
//   background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #262626);
// }



// .title {
//   text-align: right;
//   color: snow;
//   font-size: 7vh;
//   padding-right: 20px;
// }



